@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #0a0a0a;
  --mint: #b9f5ac;
  --blue: #71f0e4;
  --yellow: #dfedb7;
  --green: #67a658;
}

body {
  color: var(--white);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;}

a {
  color: var(--blue);
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo{
  max-width: 130px;
  margin-left: 20px;
}

.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggler{
  box-shadow: none !important;
  border: none;
}

.navbar-nav{
margin-left: auto;
display: flex;
justify-content: space-between;
}
.nav-item{
  margin: auto;
  background: red;
}





